<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png?v=new' | theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png?v=new' | theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png?v=new' | theme }}">
<link rel="manifest" href="{{ 'assets/favicons/site.webmanifest?v=new' | theme }}">
<link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg?v=new' | theme }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico?v=new' | theme }}">
<meta name="apple-mobile-web-app-title" content="{{ app_name }}">
<meta name="application-name" content="{{ app_name }}">
<meta name="msapplication-TileColor" content="#1395ba">
<meta name="msapplication-config" content="{{ 'assets/favicons/browserconfig.xml?v=new' | theme }}">
<meta name="theme-color" content="#ffffff">
